---
import { Image } from "astro:assets";

---

<footer class="bg-black text-white p-6 mt-auto">
  <div class="container mx-auto flex flex-col justify-between items-center">
    <div class="grid md:grid-cols-4 gap-8">
      <div>
        <Image loading="eager" src="/astro.svg" class="invert h-[50px]" alt="Company Logo" width={100} height={70} />
        <p class="custom-text">Building dreams into reality with over 20 years of construction excellence.</p>
      </div>
      <div>
        <h2 class="font-bold text-lg mb-4">Services</h2>
        <p class="custom-text">Residential Construction</p>
        <p class="custom-text">Commercial Buildings</p>
        <p class="custom-text">Renovations</p>
        <p class="custom-text">Porject Management</p>
      </div>
      <div>
        <h2 class="font-bold text-lg mb-4">Company</h2>
        <p class="custom-text">About Us</p>
        <p class="custom-text">Our Team</p>
        <p class="custom-text">Portfolio</p>
        <p class="custom-text">Career</p>
      </div>
      <div>
        <h2 class="font-bold text-lg mb-4">Contact</h2>
        <p class="custom-text">123 Construction Ave</p>
        <p class="custom-text">Building City, BC 12345</p>
        <p class="custom-text">(555) 123-4567</p>
        <p class="custom-text">info@buildcorp.com</p>
      </div>
    </div>
    <hr class="w-full border-white my-8"/>
    <p class="text-center mb-12">&copy; {new Date().getFullYear()} AstroCorp. All rights reserved.</p>
  </div>
</footer>

<style>
  @reference "tailwindcss";

  .custom-text {
    @apply mb-2 text-white/70;
  }
</style>