---
import bg from '../../public/hero_bg.jpg';
---

<section id="hero" class="pt-[75px]">
  <div class="flex flex-col items-center justify-center h-[calc(100dvh-74px)] bg-[url('../../public/hero_bg.jpg')] bg-cover bg-center">
    <h1 class="text-white text-shadow-[2px_2px_#FF0000DE] text-[120px] font-bold">Hero section</h1>
    <h2 class="text-white text-[30px] mb-8">This is Info About my Company</h2>
    <h4 class="text-white text-center w-[30%]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, accusamus expedita. Eligendi totam omnis sunt, ducimus labore cum ipsam harum!</h4>
  </div>
</section>
