---
import Navigation from "../components/Navigation.astro";
import Head from "../components/Head.astro";
import Footer from '../components/Footer.astro'

const { title } = Astro.props;
const links = [
	{ url: "/", label: "Home" },
	{ url: "/about", label: "About" },
	{ url: "/contact", label: "Contact" },
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Head title={title} />
	</head>
	<body class="h-dvh flex flex-col">
		<Navigation imageUrl="/astro.svg" links={links} />
		<slot />
		<Footer />
	</body>
</html>
